* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffeb3c;

}

/* MOBILE */
@media screen and (max-width: 1024px) {
    body {
        background-color: #ffeb3c;
    }


    body {
        background-color: #ffeb3c;

    }

    .logo {
        width: 20%;
        transform: rotate(5deg);
    }

    #redondo {
        border-radius: 10px;
    }

    #carouselExample {

        width: 500px;


    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }


    footer {
        text-align: center;
        background-color: #ffeb3c;

    }

    .intro {

        text-align: center;
        font-family: fantasy;
        font-size: medium
    }

    h1 {
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
    }


    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* MAPA */
    .ubicacion {
        height: 100%;


    }



    /* GRUPO DE BOTONES PRODUCTOS */

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: auto;
    }

    /* ARTICULOS */

    #productos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .navbar-collapse {
        width: 100vh;
        height: 100vh;
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {

    body {
        background-color: #ffeb3c;

    }

    .logo {
        width: 20%;
        transform: rotate(5deg);
    }

    #redondo {
        border-radius: 10px;
    }

    #carouselExample {

        width: 500px;


    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .intro {

        text-align: center;
        font-family: fantasy;
        font-size: medium
    }


    footer {
        text-align: center;
        background-color: #ffeb3c;
        width: 10%;
    }

    h1 {
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
    }


    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* MAPA */
    .ubicacion {
        height: 100%;


    }

    /* GRUPO DE BOTONES PRODUCTOS */

    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: auto;
        background-color: #ffeb3c;

    }

    /* ARTICULOS */

    #productos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }


}