h2 {
    font-family: fantasy;
    font-size: 24px;
    margin-top: 20px;
    color: $secondary;
}
#titulo {
    font-family: fantasy;
    width: 100%;

@include flex-row-center;
    animation-iteration-count: infinite;
}
.intro {

    @include flex-row-center;
    font-family: fantasy;
    font-size: medium
}
.compañia {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;

}